@model DojoSurvey.Models.Survey

<div class="container">
    <form asp-controller="Home" asp-action="ProcessForm" method="post">
        <div class="form-group">
            <label asp-for="Name">Your Name:</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location">Dojo Location:</label>
            <select asp-for="Location" class="form-control">
                <option value="">-- Select Location --</option>
                <option value="Seattle">Seattle</option>
                <option value="San Jose">San Jose</option>
                <option value="Dallas">Dallas</option>
                <option value="Chicago">Chicago</option>
                <option value="East Bay">East Bay</option>
                <option value="Online">Online</option>
                <option value="Burbank">Burbank</option>
            </select>
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Language">Favorite Language:</label>
            <select asp-for="Language" class="form-control">
                <option value="C#">C#</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Ruby">Ruby</option>
                <option value="C++">C++</option>
            </select>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Comment">Comment (optional):</label>
            <textarea asp-for="Comment" class="form-control"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit!</button>
    </form>
</div>
